html, body {
  background-color: #DEF4C6;
  font-family: 'Droid Sans';
}

h1 {
  text-align: center;
}

h1 {
  margin-bottom: 40px;
}

table {
    border-collapse: collapse;
    width: 70%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #CBF3F0;
}

textarea {
    resize: none;
    overflow-x: hidden;
}
