html, body {
  background-color: #EBF2FA;
  font-family: 'Droid Sans';
}

table {
    border-collapse: collapse;
    width: 70%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #CBF3F0;
}
